name: lesjardinsdudore
services:
  certbot:
    image: certbot/certbot:v5.2.1
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    network_mode: "host"
    command: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    entrypoint: ""
    restart: always
  frontend:
    build:
      context: frontend
      target: prod
    volumes:
      - certbot-www:/web:ro,z
      - certbot-certs:/etc/letsencrypt:ro,z
      - ./frontend/conf.d/:/etc/nginx/conf.d/:z
    ports:
      - '${HTTP_PORT:-3000}:3000'
      - '${HTTPS_PORT:-3443}:3443'
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.3}.250
    restart: always

  ofelia:
    image: mcuadros/ofelia:0.3.19
    depends_on:
      dovecot:
        condition: service_started
      sogo:
        condition: service_started
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=${TZ}
    command: daemon --docker -f label=com.docker.compose.project=${COMPOSE_PROJECT_NAME:-lesjardinsdudore}
    restart: always
    labels:
      ofelia.enabled: "true"
    security_opt:
      - label=disable

  pihole:
    image: pihole/pihole:2025.11.1
    depends_on:
      unbound:
        condition: service_healthy
    volumes:
      - pihole-etc:/etc/pihole
    environment:
      - TZ=${TZ}
      - FTLCONF_webserver_api_password=${PI_HOLE_PASS}
      - FTLCONF_dns_upstreams=unbound#53
      - FTLCONF_dns_listeningMode=ALL
    ports:
      - '${DNS_PORT:-53}:53/tcp'
      - '${DNS_PORT:-53}:53/udp'
      - '${PI_HOLE_PORT:-8888}:80/tcp'
    restart: always
    dns:
      - ${IPV4_NETWORK:-172.22.1}.254

  samba:
    build: samba
    volumes:
      - ./data:/data
      - ./samba/smb.conf:/etc/samba/smb.conf:ro
    environment:
      - SAMBA_USER=smbuser
      - SAMBA_PASS=smbpass
      - SAMBA_UID=1000
      - SAMBA_GID=1000
    ports:
      - '137:137/udp'
      - '138:138/udp'
      - '139:139/tcp'
      - '445:445/tcp'
    network_mode: "host"
    restart: always

  unbound:
    build: unbound
    volumes:
      - ./unbound/unbound.conf:/etc/unbound/unbound.conf:ro,Z
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.1}.254
    restart: always
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.block_facebook.schedule: "0 0 8 * * *"
      ofelia.job-exec.block_facebook.command: "unbound-control local_zone facebook.com always_nxdomain"
      ofelia.job-exec.unblock_facebook.schedule: "0 0 12 * * *"
      ofelia.job-exec.unblock_facebook.command: "unbound-control local_zone_remove facebook.com"
    dns:
      - 1.1.1.1
      - 8.8.8.8

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.3}.0/24

volumes:
  certbot-certs:
  certbot-www:
  pihole-etc:
