services:
  frontend:
    build:
      context: frontend
      target: prod
    volumes:
      - certbot-www:/web:ro,z
      - certbot-certs:/etc/letsencrypt:ro,z
      - ./frontend/conf.d/:/etc/nginx/conf.d/:z
    ports:
      - "${HTTPS_PORT:-3443}:3443"
      - "${HTTP_PORT:-3000}:3000"
    restart: always
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.3}.250

  certbot:
    image: certbot/certbot
    entrypoint: ""
    command: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    restart: always
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    network_mode: "host"

  samba:
    build: samba
    restart: unless-stopped
    environment:
      - SAMBA_USER=smbuser
      - SAMBA_PASS=smbpass
      - SAMBA_UID=1000
      - SAMBA_GID=1000
    ports:
      - "445:445/tcp"
      - "139:139/tcp"
      - "137:137/udp"
      - "138:138/udp"
    volumes:
      - ./data:/data
      - ./samba/smb.conf:/etc/samba/smb.conf:ro
    network_mode: "host"

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.3}.0/24

volumes:
  certbot-certs:
  certbot-www:
